<body>
      <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="#">Kanban Board</a></li>
            <li><a href="#">Releases</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>
  <div class="main-content">
  <header class="main-header">
      <h4>Benify HR Reward Portal</h4>
      <br>
      <h1>Kanban Board
        <button class="primary-btn float-right" (click)="createTask()">Create Task</button>
      </h1>
  </header>
  <div class="form-container" *ngIf="showTaskForm">
    <form [formGroup]="taskForm" #formRef="ngForm">
      <div>
        <label for="task-name">Task Name </label>
        <br>
        <input type="text" id="task-name" name="task-name" formControlName="taskName"> 
        <button type="submit" class="primary-btn ml-1" (click)="actionTask()">Add</button>
        <button type="button" class="secondary-btn ml-1" (click)="closeTask()">Close</button>
        <br>
        <span class="alert-red" *ngIf="taskForm.controls['taskName'].hasError('required') && formRef.submitted">Please enter Task Name
        </span>
      </div>
    </form>
  </div>
  <p *ngIf="showToaster" [ngClass]="{'toaster-alert ': errorType === 'alert', 'toaster-success' : errorType === 'success' }">{{toasterMessage}}<i class="fa-solid fa-xmark ml-1 float-right cursor-pointer" (click)="closeToaster()"></i></p>
  <div class="kanban-board">
      <div class="kanban-column">
          <h2 class="todo-heading">To Do  -  {{toDoList.length}}</h2>
          <div class="kanban-card" *ngFor="let taskList of toDoList; let i = index; trackBy:optimize">
            <span class="mb-1"><i title="Remove" class="fa-solid fa-xmark float-right cursor-pointer" (click)="removeTask(i, 'toDo')"></i></span>
            <div class="mt-1">
              <p>{{taskList.title}}</p>
            </div>
            <div>
              <span class="status-text float-right">Move Right<i title="Move Right" class="fa-solid fa-right-long  mt-2 ml-1 cursor-pointer" (click)="changeStatus(i, 'toDo')"></i></span>
            </div>
          </div>
      </div>
      <div class="kanban-column">
          <h2 class="implementing-heading">Implementing  -  {{implementingList.length}}</h2>
          <div class="kanban-card" *ngFor="let taskList of implementingList; let i = index; trackBy:optimize">
            <i title="Remove" class="fa-solid fa-xmark float-right cursor-pointer" (click)="removeTask(i, 'implementing')"></i>
            <div class="mt-1">
              <p>{{taskList.title}}</p>
            </div>
            <div>
              <i title="Move Left" class="fa-solid fa-left-long float-left mt-2 cursor-pointer" (click)="changeStatus(i, 'implementing')"><span class="status-text ml-1">Move Left</span></i>
              <span class="status-text float-right">Move Right<i title="Move Right" class="fa-solid fa-right-long  mt-2 ml-1 cursor-pointer" (click)="changeStatus(i, 'implementing', 'right')"></i></span>
            </div>
          </div>
      </div>
      <div class="kanban-column">
         <h2 class="done-heading">Done  -  {{doneList.length}}</h2>
         <div class="kanban-card" *ngFor="let taskList of doneList; let i = index; trackBy:optimize">
          <i title="Remove" class="fa-solid fa-xmark float-right cursor-pointer" (click)="removeTask(i, 'done')"></i>
          <div class="mt-1">
            <p>{{taskList.title}}</p>
          </div>
          <div>
            <i title="Move Left" class="fa-solid fa-left-long float-left mt-2 cursor-pointer" (click)="changeStatus(i, 'done')"><span class="status-text ml-1">Move Left</span></i>
          </div>
        </div>
      </div>
  </div>
  </div>
</body>